@using TicketPro.Data.Models
<div class="card text-bg-dark mb-3 shadow">
    <div class="card-header text-bg-secondary">Update Ticket</div>
    <div class="card-body">
        <EditForm
            Model="TicketUpdate"
            FormName="UpdateTicket">
            <DataAnnotationsValidator/>
            <div class="row">
                <div class="input-group mb-3 col">
                    <div class="input-group-text">
                        <InputCheckbox
                            class="form-check-input mt-0"
                            type="checkbox"
                            @bind-Value="TicketUpdate.ShouldUpdateStatus"
                            aria-label="Checkbox for following text input"
                            id="shouldUpdateStatus"/>
                        <span class="ps-2">New Status:</span>
                    </div>
                    @if (TicketUpdate.ShouldUpdateStatus)
                    {
                        <InputSelect
                            class="form-select"
                            @bind-Value="TicketUpdate.NewStatus"
                            id="status">
                            @foreach (var statusName in TicketStatusMap.Keys)
                            {
                                <option value="@TicketStatusMap[statusName]">@statusName</option>
                            }
                        </InputSelect>
                    }
                    else
                    {
                        <InputSelect
                            class="form-select"
                            @bind-Value="TicketUpdate.NewStatus"
                            id="status"
                            disabled>
                            @foreach (var statusName in TicketStatusMap.Keys)
                            {
                                <option value="@TicketStatusMap[statusName]">@statusName</option>
                            }
                        </InputSelect>
                    }
                </div>
                <div class="col-1">
                    <button class="btn btn-primary">Update</button>
                </div>
            </div>
            <div class="mb-3 form-floating">
                <InputTextArea
                    class="form-control"
                    @bind-Value="TicketUpdate.Note"
                    id="description"
                    placeholder="Note"
                    style="height: 20em"/>
                <label for="description" class="form-label">Note</label>
                <ValidationMessage For="() => TicketUpdate.Note"/>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public int TicketId { get; set; }
    [Parameter] public TicketStatus InitialStatus { get; set; }
    private CreateTicketUpdateDto TicketUpdate { get; set; } = new();
    private Dictionary<string, TicketStatus> TicketStatusMap { get; set; } = new();
    private bool ShouldUpdateStatus { get; set; }

    protected override void OnInitialized()
    {
        TicketUpdate.TicketId = TicketId;
        TicketUpdate.Created = DateTime.Now;
        TicketUpdate.Note = string.Empty;
        TicketUpdate.NewStatus = InitialStatus;

        foreach (var statusName in Enum.GetNames<TicketStatus>())
        {
            TicketStatusMap.Add(statusName, Enum.Parse<TicketStatus>(statusName));
        }
    }

}